<div class="d-flex flex-row edu">
  <div class="p-2 bd-highlight">
    <h3 class="title">
      Experience
    </h3>

    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            Pixelz VietNam
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(2015-2019)</div>
        </div>
      </div>

      <div class="proj">Photo editor</div>
      <ul>
        <li>
          - Photo editing for foreign partners (Europe - America ...)
        </li>
        <li>
          - Production team's assistant.
        </li>
      </ul>
    </div>

    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            Pixta Vietnam
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(2019-2020)</div>
        </div>
      </div>

      <div class="proj">Photo retoucher & designer </div>
      <ul>
        <li>
          - Participate in developing Asian content stock image project.
        </li>
        <li>
          - Support contributor retouch images.
        </li>
        <li>- Design of internal communication publications.</li>
      </ul>
    </div>

    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            Freelancer
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(09/2020-now)</div>
        </div>
      </div>

      <div class="proj">Graphic Design</div>
    </div>
  </div>

  <div class="p-2 bd-highlight">
    <h3 class="title">
      Education
    </h3>

    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            University Of Transport Technology
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(2012-2016)</div>
        </div>
      </div>

      <div class="proj">Automotive engineering technology</div>
    </div>
    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            VNskills Academy
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(2018)</div>
        </div>
      </div>

      <div class="proj">web development with html5, css3 & Javascript</div>
    </div>
    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            Arena Multimedia
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(2019-2021)</div>
        </div>
      </div>

      <div class="proj">Graphics & Web design</div>
    </div>
    <div class="exp">
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight">
          <h6>
            Eggcademy
          </h6>
        </div>

        <div style="position: relative;" class="p-2 bd-highlight">
          <div style="right: 0px; position: absolute;">(08/2020- Now)</div>
        </div>
      </div>

      <div class="proj">UI/UX Design</div>
    </div>
  </div>
</div>
