<style>
  .btn-search-icon {
    width: 235px;
    height: 44px;
    background-color: #FC471E;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px;
    border-radius: 30px;
  }
</style>
<div class="container">
  <hr>
  <br>
  <h5 class="text-center text-dark">FAQ</h5>
  <br><br>
  <p class="text-center text-dark">Your questions, answered</p>
  <br><br>
  <p class="font-weight-bold text-center text-dark">Amet minim mollit non deserunt ullamco</p>
  <p class="text-center text-dark" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  <br>
  <p class="font-weight-bold text-center text-dark">Amet minim mollit non deserunt ullamco</p>
  <p class="text-center text-dark" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  <br>
  <p class="font-weight-bold text-center text-dark">Amet minim mollit non deserunt ullamco</p>
  <p class="text-center text-dark" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  <br>
  <p class="font-weight-bold text-center text-dark">Amet minim mollit non deserunt ullamco</p>
  <p class="text-center text-dark" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
</div>

<div style="height: 355px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #C2C9D1; margin-top:100px;">
  <div class="text-center text-dark align-middle" style="padding-top:150px; font-size: 24px;">Earn 33% royalties when you sell images</div>
  <div class="col text-center" style="margin-top: 26px;">
    <button class="btn btn-search-icon text-white text-center" type="button">
      Join now
    </button>
  </div>
</div>