<div class="form-sigup">
  <div class="container">
    <form class="w-30">
      <p class="text-center text-dark font-weight-bold">
        Create account to get Stock Images
      </p>
      <div class="form-group w-100">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group w-100">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group w-100 text-center">
        <button type="submit" class="btn text-white font-weight-bold">Create account</button>
      </div>
    </form>
  </div>
</div>
