<style>
  .text-color {
    color: #C2C9D1;
  }
</style>
<div class="container">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative position-relative" >
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100 position-relative">
        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
        <div class="text-dark position-absolute w-100" style="bottom: 25px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex flex-row">
            <div class="p-2 text-color"><i class="far fa-eye"></i> <span>123</span></div>
            <div class="p-2 text-color"><i class="bi bi-download"></i><span>123</span></div>
            <div class="ml-auto p-2 text-color"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>