<nav class="navbar navbar-expand-lg" style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;">
  <a class="navbar-brand text-dark" href="index.html">qlorstock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTextsearch" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTextsearch">
    <ul class="navbar-nav mr-auto left">
      <li class="nav-item active">
        <a class="nav-link text-dark" href="photo.html">Photo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="vector.html">Vector</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#Work">Illustrations</a>
      </li>
    </ul>

    <ul class="navbar-nav right p-2 row align-items-center justify-content-center ml-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="subscription.html" style="color: #C2C9D1 !important;">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Resume">
          <img src="/img/heart.svg" alt="" style="color: #C2C9D1 !important;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-border" href="#Work" style="color: #C2C9D1 !important; border: 1px solid #C2C9D1 !important;">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-border" href="#Work" style="color: white; background: #FC471E; border: 0px !important; margin-left: 5px;">Sign up</a>
      </li>
    </ul>
  </div>
</nav>

<div style="height: 100px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1; margin-top: 2px;">
  <div class="container"><partial src="_search-page_1.html"></partial></div>
</div>