
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Tung Nguyen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Work">Work</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#Contact">Contact</a>
        </li>
    </ul>
  </div>
  <div class="navbar-text">
    <div>Tungnt.designer@gmail.com</div>
    <div class="text-right">+ 0123 456 789 012</div>
  </div>
</nav>

<div class="sologan">
    Hello, I’m <span>Nguyen Thanh Tung</span>,<div class="md">UX/UI Designer and</div><br/>
    Graphic Designer Based in Hanoi.
</div>
<ul class="social text-right">
  <li>
    <a>
      <img src="img/facebook.png">
    </a>
  </li>
  <li>
    <a>
      <img src="img/instagram.png">
    </a>
  </li>
  <li>
    <a>
      <img src="img/youtube.png">
    </a>
  </li>
  <li>
    <a>
      <img src="img/linkedin.png">
    </a>
  </li>
</ul>
