<div class="d-flex flex-row" style="height: 400px;">
  <div class="p-1 w-100">
    <div class="row img-lar w-100">
      <div class="col h-100">
        <div class="h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
        </div>
      </div>
      <div class="col h-100 w-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-50">

        <div class="row img-small h-50 w-100">
          <div class="col">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
          <div class="col">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>