<div class="skill-title">
  <h4>Knowlege</h4>
</div>
<div class="d-flex flex-row know">
  <div class="p-2 bd-highlight">
    <div style="float:left; margin-right:16px; margin-top:-3px;">
      <img src="img/Vector.png" alt="" >
    </div>
    <div>UI/UX design</div>
  </div>
  
  <div class="p-2 bd-highlight">
    <div style="float:left; margin-right:16px; margin-top:-3px;">
      <img src="img/Vector.png" alt="" >
    </div>
    <div>Brand Identity</div>
  </div>
  <div class="p-2 bd-highlight">
    <div style="float:left; margin-right:16px; margin-top:-3px;">
      <img src="img/Vector.png" alt="" >
    </div>
    <div>Photography</div>
  </div>
</div>

<div class="d-flex flex-row know">
  <div class="p-2 bd-highlight">
    <div style="float:left; margin-right:16px; margin-top:-3px;">
      <img src="img/Vector.png" alt="" >
    </div>
    <div>Human Interface & Material Design</div>
  </div>
  
  <div class="p-2 bd-highlight">
    <div style="float:left; margin-right:16px; margin-top:-3px;">
      <img src="img/Vector.png" alt="" >
    </div>
    <div>Adobe creative cloud</div>
  </div>
  <div class="p-2 bd-highlight">
    <div style="float:left; margin-right:16px; margin-top:-3px;">
      <img src="img/Vector.png" alt="" >
    </div>
    <div>Packaging</div>
  </div>
</div>
