<div class="d-flex flex-xl-row flex-md-column name">
  <div class="p-2 bd-highlight image">
    <img src="img/rec_49.png" alt="" class="rounded mx-auto d-block">
  </div>
  <div class="p-2 bd-highlight">
    <h3>Hi, I’m Nguyen Thanh Tung</h3>
    <h3 class="job">Graphic, UI/UX designer</h3>
    <div class="d-flex flex-row info">
      <div>
        <span>Age:</span>26
      </div>
      <div>
        <span>Residence:</span>Vietnam
      </div>
    </div>
    <p class="text-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <div class="d-flex flex-row info">
        <div>
          <button type="button" class="btn btn-outline-light">Download CV</button>
        </div>
        <div>
          <button type="button" class="btn">Hire me now</button>
        </div>
      </div>
  </div>
</div>
