<div class="skill-title">
  What my skills included
</div>
<div class="d-flex flex-xl-row flex-md-column skill">
  <div class="p-2 bd-highlight">
    <ul>
      <li>
        <div>Figma</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe XD</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Photoshop</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Illustrator</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Indesign</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Animate</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Animate</div>
        <div class="line"><div>
      </li>
    </ul>
  </div>

  <div class="p-2 bd-highlight">
    <div class="d-flex flex-xl-row skill-tab-2">
      <div class="p-2 bd-highlight">
        <img src="img/gr_60.png" class="rounded mx-auto d-block">
        <div class="text-center">UI/UX design</div>
      </div>

      <div class="p-2 bd-highlight">
        <img src="img/gr_60.png" class="rounded mx-auto d-block">
        <div class="text-center">UI/UX 1</div>
      </div>
    </div>

    <div class="d-flex flex-xl-row skill-tab-2">
        <div class="p-2 bd-highlight">
          <img src="img/gr_60.png" class="rounded mx-auto d-block">
          <div class="text-center">UI/UX design</div>
        </div>
  
        <div class="p-2 bd-highlight">
          <img src="img/gr_60.png" class="rounded mx-auto d-block">
          <div class="text-center">UI/UX 1</div>
        </div>
      </div>
  </div>
</div>
