<div class="skill-title">
  <h4>What my skills included</h4>
</div>
<div class="d-flex flex-row skill">
  <div class="p-2 bd-highlight">
    <ul>
      <li>
        <div>Figma</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe XD</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Photoshop</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Illustrator</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Indesign</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Animate</div>
        <div class="line"><div>
      </li>
      <li>
        <div>Adobe Animate</div>
        <div class="line"><div>
      </li>
    </ul>
  </div>
  <div class="p-2 bd-highlight">
    <div class="row">
      <div class="rec">
        <div class="group">
          <img src="img/gr_60.png" alt="">
          <div>UI/UX design</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rec">
        <div class="group">
          <img src="img/gr_60-2.png" alt="">
          <div>UI/UX design</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="rec">
        <div class="group">
          <img src="img/gr_60-3.png" alt="">
          <div>UI/UX design</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rec">
        <div class="group">
          <img src="img/gr_60-4.png" alt="">
          <div>UI/UX design</div>
        </div>
      </div>
    </div>
    
  </div>
</div>

  