<div class="tag">
  <div class="d-flex">
    <div class="p-2">
      <button type="submit" class="btn ip-search w-100">
        All image
      </button>
    </div>
    <div class="p-2">
      <button type="submit" class="btn ip-search w-100">
        All orientations
      </button>
    </div>
  </div>
</div>
<h4>Cat images</h4>
<p>1,234,567 cat stock photos, vectors, and illustrations are available royalty-free</p>

<div class="tag-recomment">
  <div class="d-flex">
    <div class="p-2">
      <div class="font-weight-bold text-dark align-middle mx-auto" style="vertical-align: middle!important;">Related:</div>
    </div>
    <div class="p-2">
      <button type="submit" class="btn w-100">
        All orientations
      </button>
    </div>
    <div class="p-2">
      <button type="submit" class="btn w-100">
        veterinary female
      </button>
    </div>
    <div class="p-2">
      <button type="submit" class="btn w-100">
        child with cat. outdoor
      </button>
    </div>
    <div class="p-2">
      <div class="text-dark align-middle mx-auto">
        1-100 of 300
      </div>
    </div>
  </div>
</div>

<style>
  .tag-recomment{
    height: 29px;
  }
  .tag-recomment button {
    width: 112px; 
    border-radius: 20px;
    background: transparent;
    border: 1px solid #C2C9D1;
  }
</style>