<div class="free-text">
  <h4 class="text-center">
    Royalty-free Stock Photos, Vector Images, and Illustrations
  </h4>
  <div class="text-center">
    In a library of million files, you'll always find what you need. Discover a stock photography website with high-quality, Royalty-free stock images,<br />
    and thematic collections for all your creative projects. We're trusted by leading international companies that turn to our library for visuals.
  </div>

  <div class="d-flex flex-row">
    <div class="p-2 w-50">
      <h6>Amazing Photos & Pictures</h6>
      <div class="row img-lar w-100">
        <div class="col h-100">
          <div class="h-100">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
        </div>
        <div class="col h-100 w-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-50">

          <div class="row img-small h-50 w-100">
            <div class="col">
              <img src="img/rec_1.png" alt="" class="w-100 h-100">
            </div>
            <div class="col">
              <img src="img/rec_1.png" alt="" class="w-100 h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 w-50">
      <h6>
        Illustrations
      </h6>

      <div class="row img-lar w-100">
        <div class="col">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
        </div>
        <div class="col">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-2 w-50">
      <h6>Vectors</h6>

      <div class="row img-lar w-100">
        <div class="col h-100">
          <div class="h-100">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
        </div>
        <div class="col h-100 w-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-50">

          <div class="row img-small h-50 w-100">
            <div class="col">
              <img src="img/rec_1.png" alt="" class="w-100 h-100">
            </div>
            <div class="col">
              <img src="img/rec_1.png" alt="" class="w-100 h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 w-50">
      <h6>
        Background images
      </h6>

      <div class="w-100 img-lar">
        <div class="row w-100 h-50">
          <div class="col h-100">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
          <div class="col h-100">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
        </div>

        <div class="row w-100 h-50 img-illust">
          <div class="col h-100">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
          <div class="col h-100">
            <img src="img/rec_1.png" alt="" class="w-100 h-100">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="trending">
    <h6>
      Trending searches
    </h6>
    <div class="w-100">
      <div class="row w-100 h-50 img-illust">
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>

        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>

        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>

        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
      </div>

      <div class="row w-100 h-50 img-illust">
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>

        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>

        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>

        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
