<div class="trending">
  <h3 class="text-center">
    Trending searches
  </h3>
  <div class="w-100">
    <div class="row w-100 h-50 img-illust">
      <!-- 1 -->
      <div class="col h-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-100">
        <div class="text">
          #1: Christmas
        </div>
      </div>

      <div class="col h-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-100">
        <div class="text">
          #1: Christmas
        </div>
      </div>

      <div class="col h-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-100">
        <div class="text">
          #1: Christmas
        </div>
      </div>
    </div>
    <!-- end 1 -->

    <div class="row w-100 h-50 img-illust">
      <div class="col h-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-100">
        <div class="text">
          #1: Christmas
        </div>
      </div>

      <div class="col h-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-100">
        <div class="text">
          #1: Christmas
        </div>
      </div>

      <div class="col h-100">
        <img src="img/rec_1.png" alt="" class="w-100 h-100">
        <div class="text">
          #1: Christmas
        </div>
      </div>
    </div>

    <div class="row w-100 h-50 img-illust">
        <!-- 1 -->
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
  
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
  
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
      </div>
      <!-- end 1 -->
  
      <div class="row w-100 h-50 img-illust">
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
  
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
  
        <div class="col h-100">
          <img src="img/rec_1.png" alt="" class="w-100 h-100">
          <div class="text">
            #1: Christmas
          </div>
        </div>
      </div>

  </div>
</div>
