$theme-colors: (
    "primary": #FF69B4
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
    border: 1px solid;
    color: black;
    height: 40px;
    .title {
        color: red;
    }
}
