$theme-colors: (
    "primary": #FF69B4
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "./header.scss";
@import "./search.scss";
@import "./home.scss";
@import "./text_free.scss";
@import "./footer.scss";

body {
  a {
    color: white;
    &:hover {
      color: #FC471E;
    }
  }

  div {
    color: white;
  }

  .btn-border {
    border: 1px solid white;
    border-radius: 30px;
  }

  textarea:focus, input:focus, button:focus {
    outline: none;
}


  @media (min-width: 576px) {

  }

// Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 

   }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 

   }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 

   }
}
